@import '../../variables.scss';

.formBox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  gap: 0.5 * $row-gap $row-gap;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5em;

    &:first-child {
      border: 1px solid $border-color;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:not(:first-child) {
      border: 1px solid $border-color;
      border-top: none;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    & > p {
      position: relative;
      top: 0.4rem;
      margin: 0;

      &::before {
        background-color: var(--color);
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -0.7rem;
        border-radius: 0.4 * $border-radius;
        border: 1px solid $border-color;
        content: '';
      }
    }
  }
}
