$primary-color: #fff;
$secondary-color: #ff9800;

$success-color: #2e7d32;
$success-hover-color: #1b5e20;
$success-active-color: #43a047;

$danger-color: #d32f2f;
$danger-hover-color: #b71c1c;
$danger-active-color: #e53935;

$primary-bg-color: #212b36;
$secondary-bg-color: #161c24;

$border-color: #919eab;
$border-radius: 0.4rem;
$box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px,
  rgb(0 0 0 / 12%) 0px 1px 10px 0px;

$row-gap: 1rem;
