@import '../../variables.scss';

.inputBox {
  display: flex;
  flex-direction: column;
  row-gap: 0.6 * $row-gap;

  & > label {
    display: block;
    font-size: 1.1rem;
  }

  & > input {
    color: $primary-color;
    outline: none;
    background-color: $primary-bg-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1em 0.6rem;
    width: 100%;
    letter-spacing: 0.06rem;

    &:hover {
      border: 1px solid $primary-color;
    }

    &:focus {
      border: 1px solid $secondary-color;
    }
  }

  &.invalid {
    color: $danger-color;

    & > input {
      border: 1px solid $danger-color;
    }

    & > p {
      margin: 0;
    }
  }
}
